################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/AdventureWorksAPI.Tests/bin/Debug/netcoreapp1.0
/test/AdventureWorksAPI.Tests/obj/Debug/netcoreapp1.0
